.navigation {
	-ms-overflow-style: auto;
	background-color: #fec5bb;
	background-image: url('https://www.transparenttextures.com/patterns/diagonal-noise.png');
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	position: fixed;
	width: 100%;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 30px;
	padding-bottom: 20px;
	display: flex;
	gap: 20px;
	height: 20px;
	justify-content: flex-start;
	align-items: center;

	@media (max-width: 1280px) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	@media (max-width: 768px) {
		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 0px;
		padding-right: 0px;
		justify-content: center;
		position: sticky;
		top: 0px;
	}
}
