.navButton {
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-family: 'Jura', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: white;

	@media (max-width: 768px) {
		font-size: 12px;
	}
}

.navButtonGroup {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.underline {
	transition: all 0.2s ease;
	&.clicked {
		cursor: pointer;
		margin-top: 2px;
		height: 3px;
		width: 40px;
		background-color: #d8e2dc;

		border-radius: 50px;
	}
	&.hover {
		transition: all 0.1s;
		margin-top: 2px;
		height: 3px;
		width: 15px;
		background-color: #e8e8e4;
		opacity: 70%;
		border-radius: 50px;
	}
}

form {
	height: 25px;
}
