.main {
  height: 100vh;

  background-color: #ffffff;
  display: flex;
}

.header {
  height: 100%;
  background-color: #0d1b2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  width: 382px;
  position: fixed;
}

.mainContainer {
  background-color: white;
  height: 100%;

  margin-top: 100px;
  background-color: #778da9;
  padding: 20px;
}

.img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.basicUserInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  position: relative;
  margin-left: 382px;
  width: 100%;
  flex-direction: column;
  overflow: auto;
}
