@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

:root {
  color: white;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  background-color: #0d1b2a;
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #778da9;
  height: 100%;
  width: 100%;
}
